{% extends 'users/base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container text-center">
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <figure class="text-start">
                    <p class="h2">{{object}}</p>
                    <p class="lead">{{object.email}}</p>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-body-secondary">Notes:</h5>
                            <p class="card-text">{{object.notes}}</p>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>

{% endblock %}