{% extends 'users/base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container text-center">
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <figure class="text-start">
                    <p class="h2">Mailing #{{object.pk}}</p>
                    {% if object.first_mailing == object.next_mailing_date %}
                    <p class="lead">Starts at {{object.first_mailing}}</p>
                    {% else %}
                    <p class="lead">Started at {{object.first_mailing}}</p>
                    <p class="lead">Next mailing: {{object.next_mailing_date}}</p>
                    {% endif %}
                    <h3>
                        {% if object.is_finished %}
                        <span class="badge text-bg-success rounded-pill">Finished</span>
                        {% elif object.is_launched %}
                        <span class="badge text-bg-primary rounded-pill">Working</span>
                        {% else %}
                        <span class="badge text-bg-danger rounded-pill">Stopped</span>
                        {% endif %}
                    </h3>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-body-secondary">Message:</h5>
                            <h3 class="card-title">{{object.mailing_message.theme}}</h3>
                            <p class="card-text">{{object.mailing_message.body}}</p>
                        </div>
                    </div>
                    <br>
                    <h4>Mailing clients list:</h4>
                    <ul class="list-group list-group-flush">
                        {% for client in object.mailing_clients.all %}
                        <li class="list-group-item">{{client}}</li>
                        {% endfor %}
                    </ul>
                </figure>
            </div>
            <div class="col">
                <ul class="list-group">
                    {% for attempt in object.mailing_attempt_set.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{attempt.datetime}}
                        {% if attempt.is_successful %}
                        <span class="badge text-bg-success rounded-pill">Successful</span>
                        {% else %}
                        <span class="badge text-bg-danger rounded-pill">Failed</span>
                        {% endif %}
                        {{attempt.mail_server_response}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}