{% extends 'users/base.html' %}

{% block content %}

<div class="container">
    <div class="row mb-2">
        {% for object in object_list %}
        <div class="col-6">
            <div class="card">
                <div class="card-to">
                    <img src="{{object.image.url}}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{object.title}}</h5>
                    <p class="card-text">{{object}}</p>
                    <a href="{% url 'blog:post_detail' object.pk %}" class="btn btn-primary">Continue reading</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if user.is_superuser %}
<div class="container">
    <div class="row">
        <a type="button" class="btn btn-primary" href="{% url 'blog:add_post' %}">Add post</a>
    </div>
</div>
{% endif %}
{% endblock %}